<div class="cristal-top">
    <div id="primary">
        <h1 id="webtitle">MCHunger Games</h1>
        <h4 id="serverIp">PLAY.MCHGL.COM</h4>
    </div>
    <div id="secondary">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">HCGames</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Stats</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
    
</div>