<div id="menu_wrapper">
    <ul id="menu_list">
        <li class="m_item">Home</li>
        <li class="m_item">About</li>
        <li class="m_item">Contact</li>
        <li class="m_item">Profiles</li>
    </ul>
</div>