<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/regular-nav.css">
</head>
<body>
    
    
            <% include ../partials/menu %>
    
</body>
</html>